body {
    background: #444444; }

.logo {
    margin: 60px auto 20px auto;
    padding: 15px;
    text-align: center; }

.content {
    background-color: #fff;
    width: 360px;
    margin: 0 auto;
    padding: 20px 30px 15px 30px; }
.content h3 {
    color: #000; }
.content h4 {
    color: #555; }
.content p {
    color: #222; }
.content .login-form {
    padding: 0;
    margin: 0; }
.content .input-icon {
    border-left: 2px solid #44B6AE !important; }
.content .input-icon .form-control {
    border-left: 0; }
.content .form-title {
    font-weight: 300;
    margin-bottom: 25px; }
.content .form-actions {
    background-color: #fff;
    clear: both;
    border: 0;
    padding: 0 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px; }
.content .form-actions .checkbox {
    cursor: pointer;
    margin-left: 0;
    padding-left: 0;
    margin-top: 8px;
    display: inline-block; }
.content .form-actions .btn {
    margin-top: 1px; }

.copyright {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-size: 13px; }

@media (max-width: 480px) {
    .logo {
        margin-top: 10px; }

    .content {
        width: 280px; }
    .content h3 {
        font-size: 22px; }

    .checkbox {
        font-size: 13px; } }
