.dashboard-activity {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    border-left: 4px solid;
    padding-left: 15px;
}

.dashboard-activity:before, .dashboard-activity:after {
    content: " ";
    display: table;
}

.dashboard-activity:after {
    clear: both;
}

.dashboard-activity .number {
    font-size: 30px;
    font-weight: 500;
}

.dashboard-activity .desc {
    font-size: 13px;
    font-weight: 300;
}

.border-blue {
    border-color: #3680ba;
}

.border-aqua {
    border-color: #93cac5;
}

.border-orange {
    border-color: #e4c488;
}

.border-lite-green {
    border-color: #cddec2;
}

/*.nav-tabs {
  border-bottom: 1px solid #ecf2f6;
  margin-bottom: 0; }
  .nav-tabs > li > a {
    color: #354052; }
    .nav-tabs > li > a:hover {
      color: #58adbf;
      background: none;
      border-color: transparent; }
  .nav-tabs > li.active > a {
    color: #354052;
    border: 1px solid #ecf2f6;
    border-bottom-color: transparent; }
    .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      color: #354052;
      border: 1px solid #ecf2f6;
      border-bottom-color: transparent; }

.tab-content {
  background-color: #ffffff;
  border-left: 1px solid #ecf2f6;
  border-bottom: 1px solid #ecf2f6;
  border-right: 1px solid #ecf2f6;
  padding: 10px; }*/

.v-hidden {
    visibility: hidden;
}

.photo-preview {
    position: relative;
}

.photo-preview .img {
    top: 0;
    left: 5px;
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
}

#preview-box {
    top: 0;
    left: 45px;
    z-index: 999999999;
    position: absolute;
    border: 1px solid #cccccc;
    background: #ffffff;
    padding: 5px;
    display: none;
}


.tabbable-line.tabs-below > .nav-tabs > li {
    position: relative;
}

.tabbable-line.tabs-below > .nav-tabs > li span {
    font-size: 12px;
    color: #c1ced9;
    position: absolute;
    right: 5px;
    top: 0;
}

.tabbable-line.tabs-below > .nav > li > a {
    padding: 10px 25px;
}