body {
  font-family: "Open Sans", sans-serif;
  min-width: 320px; }

.page-header.navbar {
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
  box-shadow: none;
  height: 46px;
  min-height: 46px;
  filter: none;
  background-image: none; }
  .page-header.navbar.navbar-fixed-top {
    z-index: 9995; }
  .page-header.navbar .page-logo {
    float: left;
    display: block;
    width: 235px;
    height: 46px;
    padding-left: 20px;
    padding-right: 20px; }
    .page-header.navbar .page-logo .logo-default {
      margin: 16px 0 0 0; }
  .page-header.navbar .menu-toggler {
    display: block;
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center; }
    .page-header.navbar .menu-toggler:hover {
      filter: alpha(opacity=100);
      opacity: 1; }
    .page-header.navbar .menu-toggler.sidebar-toggler {
      float: right;
      margin: 11px 0 0 0; }
    .page-header.navbar .menu-toggler.responsive-toggler {
      display: none;
      float: right;
      margin: 11px 0 0 0; }
  .page-header.navbar .top-menu {
    margin: 0;
    padding: 0;
    float: right; }
    .page-header.navbar .top-menu .navbar-nav {
      padding: 0;
      margin: 0;
      display: block; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown {
        margin: 0;
        padding: 0;
        display: inline-block; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle {
          height: 46px;
          margin: 0;
          padding: 14px 10px 10px 10px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
            font-size: 20px; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu {
          margin-top: 3px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
            position: absolute;
            top: -7px;
            right: 14px;
            display: inline-block !important;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #eee;
            border-left: 7px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            content: ''; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:after {
            position: absolute;
            top: -6px;
            right: 15px;
            display: inline-block !important;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #fff;
            border-left: 6px solid transparent;
            content: ''; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu > li > a {
            color: #555; }
  .page-header.navbar .hor-menu {
    margin: 0;
    float: left; }
    .page-header.navbar .hor-menu .navbar-nav {
      position: static; }
      .page-header.navbar .hor-menu .navbar-nav > li {
        margin: 0;
        padding: 0; }
        .page-header.navbar .hor-menu .navbar-nav > li > a {
          height: 46px;
          padding: 14px 35px 10px 20px; }
          .page-header.navbar .hor-menu .navbar-nav > li > a > i {
            font-size: 20px; }
          .page-header.navbar .hor-menu .navbar-nav > li > a .badge {
            position: absolute;
            top: 5px;
            right: 25px;
            border: 1px solid #ffffff;
            padding: 3px 6px; }
          .page-header.navbar .hor-menu .navbar-nav > li > a:focus {
            background: none !important; }

@media all and (max-width: 991px) {
  .page-header.navbar {
    padding: 0;
    position: relative;
    clear: both; }
  .page-header .menu-toggler.sidebar-toggler {
    display: none !important; }
  .page-header .menu-toggler.responsive-toggler {
    display: block !important; } }
.page-container {
  margin: 0;
  padding: 0;
  position: relative; }
  .page-container:before, .page-container:after {
    content: " ";
    display: table; }
  .page-container:after {
    clear: both; }

.page-header-fixed .page-container {
  margin-top: 46px; }

@media (max-width: 991px) {
  .page-container {
    margin: 0 !important;
    padding: 0 !important; } }
.ie8 .page-sidebar {
  width: 235px;
  float: left;
  position: relative;
  margin-right: -100%; }

.page-sidebar.navbar-collapse {
  padding: 0;
  box-shadow: none; }
.page-sidebar .page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .page-sidebar .page-sidebar-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: none; }
    .page-sidebar .page-sidebar-menu > li > a {
      display: block;
      position: relative;
      margin: 0;
      border: none;
      padding: 10px 15px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 300; }
      .page-sidebar .page-sidebar-menu > li > a > i {
        font-size: 16px;
        margin-right: 5px;
        text-shadow: none; }
      .page-sidebar .page-sidebar-menu > li > a .arrow:before {
        float: right;
        width: 10px;
        text-align: center;
        margin-top: -1px;
        margin-right: 5px;
        margin-left: 5px;
        display: inline;
        font-size: 16px;
        font-family: FontAwesome;
        height: auto;
        content: "\f104";
        font-weight: 300;
        text-shadow: none; }
      .page-sidebar .page-sidebar-menu > li > a .arrow.open:before {
        content: "\f107"; }
    .page-sidebar .page-sidebar-menu > li.heading {
      padding: 15px 15px 15px 15px; }
      .page-sidebar .page-sidebar-menu > li.heading > h3 {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 300; }
      .page-sidebar .page-sidebar-menu > li.heading + li > a {
        border-top: 0; }
    .page-sidebar .page-sidebar-menu > li.open > a {
      font-size: 14px; }
    .page-sidebar .page-sidebar-menu > li.active > a {
      border: none;
      text-shadow: none;
      font-size: 14px; }
      .page-sidebar .page-sidebar-menu > li.active > a > .selected {
        display: block;
        float: right;
        position: absolute;
        right: 0;
        top: 8px;
        background: none;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid #f5f7f8; }
    .page-sidebar .page-sidebar-menu > li.active > .sub-menu {
      display: block; }
  .page-sidebar .page-sidebar-menu .sub-menu {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0; }
    .page-sidebar .page-sidebar-menu .sub-menu > li {
      background: none;
      margin: 0;
      padding: 0; }
      .page-sidebar .page-sidebar-menu .sub-menu > li > a {
        display: block;
        margin: 0;
        padding: 6px 15px 6px 43px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        background: none; }
        .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
          font-size: 14px; }
        .page-sidebar .page-sidebar-menu .sub-menu > li > a .arrow:before {
          float: right;
          width: 10px;
          text-align: center;
          margin-top: -1px;
          margin-right: 5px;
          margin-left: 5px;
          display: inline;
          font-size: 16px;
          font-family: FontAwesome;
          height: auto;
          content: "\f104";
          font-weight: 300;
          text-shadow: none; }
        .page-sidebar .page-sidebar-menu .sub-menu > li > a .arrow.open:before {
          content: "\f107"; }
      .page-sidebar .page-sidebar-menu .sub-menu > li > .sub-menu {
        margin: 0; }
        .page-sidebar .page-sidebar-menu .sub-menu > li > .sub-menu > li > a {
          padding-left: 60px; }
        .page-sidebar .page-sidebar-menu .sub-menu > li > .sub-menu > li > .sub-menu {
          margin: 0; }
          .page-sidebar .page-sidebar-menu .sub-menu > li > .sub-menu > li > .sub-menu > li > a {
            padding-left: 80px; }

.page-sidebar-closed .page-sidebar .page-sidebar-menu > li.active > a > .selected {
  display: none; }

@media (min-width: 992px) {
  .page-sidebar {
    width: 235px;
    float: left;
    position: relative;
    margin-right: -100%; }
    .page-sidebar.navbar-collapse {
      max-height: none !important; }

  .page-sidebar-closed .page-sidebar {
    width: 45px !important; }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
      width: 45px !important; }
      .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li.open > .sub-menu {
        display: none !important; }
      .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > .sub-menu {
        display: none !important; }
      .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
        width: 255px !important;
        position: relative !important;
        z-index: 10000;
        display: block !important; }
        .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover.heading {
          width: 45px !important;
          box-shadow: none; }
        .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > a {
          -webkit-border-radius: 0 4px 0 0;
          -moz-border-radius: 0 4px 0 0;
          -ms-border-radius: 0 4px 0 0;
          -o-border-radius: 0 4px 0 0;
          border-radius: 0 4px 0 0; }
          .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > a > i {
            margin-right: 10px; }
          .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > a > .title {
            display: inline !important;
            padding-left: 15px; }
          .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > a > .selected {
            display: none; }
        .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
          width: 210px;
          position: absolute;
          z-index: 2000;
          left: 46px;
          margin-top: 0;
          top: 100%;
          display: block !important;
          -webkit-border-radius: 0 0 4px 4px;
          -moz-border-radius: 0 0 4px 4px;
          -ms-border-radius: 0 0 4px 4px;
          -o-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px; }
          .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu > li > a {
            padding-left: 15px !important; }
          .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu > li > .sub-menu > li > a {
            padding-left: 30px !important; }
          .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu > li > .sub-menu > li .sub-menu > li > a {
            padding-left: 45px !important; }
      .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li.heading > h3 {
        display: none; }
      .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a {
        padding-left: 11px; }
        .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a .selected {
          right: -3px !important; }
        .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a > .title, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a > .arrow {
          display: none !important; } }
@media (max-width: 991px) {
  .page-sidebar {
    border-top: 0 !important;
    margin: 20px; }
    .page-sidebar .selected {
      display: none !important; }
    .page-sidebar.navbar-collapse {
      max-height: none; }
      .page-sidebar.navbar-collapse.collapse {
        display: none !important; }
      .page-sidebar.navbar-collapse.in {
        border-top: 0 !important;
        margin: 20px;
        position: relative;
        overflow: hidden !important;
        overflow-y: auto !important;
        display: block !important; } }
@media (max-width: 480px) {
  .page-sidebar {
    margin: 0 10px 10px 10px !important; }
    .page-sidebar.in {
      margin: 0 10px 10px 10px !important; } }
.page-title {
  padding: 0;
  font-size: 28px;
  letter-spacing: -1px;
  display: block;
  color: #354052;
  margin: 0 0 15px 0;
  font-weight: 300; }
  .page-title small {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 300;
    color: #495871; }

.page-content {
  margin-top: 0;
  padding: 0;
  background-color: #f5f7f8; }

@media (min-width: 992px) {
  .page-content-wrapper {
    float: left;
    width: 100%; }
    .page-content-wrapper .page-content {
      margin-left: 235px;
      margin-top: 0;
      min-height: 600px;
      padding: 25px 20px 10px 20px; }

  .page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 45px !important; } }
@media (max-width: 991px) {
  .page-content-wrapper .page-content {
    margin: 0 !important;
    padding: 20px 20px 20px 20px !important;
    min-height: 280px; } }
@media (max-width: 767px) {
  .page-content-wrapper .page-content {
    padding: 20px 10px 10px 10px !important;
    overflow: hidden; }
    .page-content-wrapper .page-content .page-title {
      margin-bottom: 20px;
      font-size: 18px; }
      .page-content-wrapper .page-content .page-title small {
        font-size: 13px;
        padding-top: 3px; } }
@media (max-width: 480px) {
  .page-content-wrapper .page-content .page-title small {
    display: block;
    clear: both; } }
