body {
  background-color: #707d8b; }

.page-header.navbar {
  background-color: #58adbf; }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown-actions .dropdown-toggle {
    background-color: #86cad8; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-actions .dropdown-toggle > i {
      color: #ffffff; }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown-actions > .dropdown-menu {
    width: 220px; }
  .page-header.navbar .page-logo {
    background: #354052; }
  .page-header.navbar .menu-toggler {
    background-image: url(../img/sidebar_toggler_icon_default.png); }
  .page-header.navbar .hor-menu .navbar-nav > li > a > i {
    color: #ffffff; }
  .page-header.navbar .hor-menu .navbar-nav > li > a .badge {
    background: #58adbf; }
  .page-header.navbar .hor-menu .navbar-nav > li > a:hover {
    background: #7dbfcd; }
    .page-header.navbar .hor-menu .navbar-nav > li > a:hover .badge {
      background: #7dbfcd; }

.page-sidebar {
  background-color: #707d8b; }
  .page-sidebar .page-sidebar-menu > li > a {
    border-left: 4px solid transparent;
    color: #354052; }
    .page-sidebar .page-sidebar-menu > li > a > i {
      color: #354052; }
    .page-sidebar .page-sidebar-menu > li > a .arrow:before {
      color: #354052; }
    .page-sidebar .page-sidebar-menu > li > a .arrow.open:before {
      color: #354052; }
  .page-sidebar .page-sidebar-menu > li.heading > h3 {
    color: #ffffff; }
  .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
    background-color: #707d8b;
    color: #ffffff; }
    .page-sidebar .page-sidebar-menu > li:hover > a > i, .page-sidebar .page-sidebar-menu > li.open > a > i {
      color: #ffffff; }
    .page-sidebar .page-sidebar-menu > li:hover > a .arrow:before, .page-sidebar .page-sidebar-menu > li.open > a .arrow:before {
      color: #ffffff; }
    .page-sidebar .page-sidebar-menu > li:hover > a .arrow.open:before, .page-sidebar .page-sidebar-menu > li.open > a .arrow.open:before {
      color: #ffffff; }
  .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.open > a {
    border-left: 4px solid #fcc500;
    color: #ffffff; }
    .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar .page-sidebar-menu > li.open > a > i {
      color: #ffffff; }
    .page-sidebar .page-sidebar-menu > li.active > a .arrow:before, .page-sidebar .page-sidebar-menu > li.open > a .arrow:before {
      color: #ffffff; }
    .page-sidebar .page-sidebar-menu > li.active > a .arrow.open:before, .page-sidebar .page-sidebar-menu > li.open > a .arrow.open:before {
      color: #ffffff; }
  .page-sidebar .page-sidebar-menu .sub-menu {
    background-color: #8d99a7; }
    .page-sidebar .page-sidebar-menu .sub-menu > li > a {
      color: #354052; }
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
        color: #354052; }
      .page-sidebar .page-sidebar-menu .sub-menu > li > a .arrow:before {
        color: #354052; }
      .page-sidebar .page-sidebar-menu .sub-menu > li > a .arrow.open:before {
        color: #354052; }
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
      color: #ffffff; }
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
        color: #ffffff; }
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a .arrow:before, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a .arrow:before, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a .arrow:before {
        color: #ffffff; }
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a .arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a .arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a .arrow.open:before {
        color: #ffffff; }

@media (min-width: 992px) {
  .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
    box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
      box-shadow: 5px 5px rgba(48, 48, 48, 0.2); } }
@media (max-width: 991px) {
  .page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid #8c97a2; } }
.page-content {
  color: #354052; }
